body {
  margin: 0;
  background-color: rgba(240, 240, 240, 1);

}

.wrapper {
  margin: 0 auto;
  display: table;
}

a {
  color: inherit;
}

h1 {
  color: rgba(0, 0, 0, .5);
  font-size: 42px;  
}

h2 {
  color: rgba(0, 0, 0, .6);
  font-size: 28px;
}

h3 {
  color: rgba(0, 0, 0, .6);
  font-size: 24px;

}

.banner {
  height: 350px;
  background-size: auto 350px;
  background-image: url('/theme/img/banner.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #aaa;
}

.banner h1 {
  margin-top: 0px;
  color: rgba(255, 255, 255, .3);
  font-size: 48px;
  line-height: 550px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

nav {
  background-color: rgba(1, 1, 1, .09);
  width: 100%;
  text-align: center;
  border-bottom: 1px black solid;
}

/* ul-title */
ul:before {
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}


nav ul {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin-right: 2em;
}

main {
  font-family: 'Roboto Slab', serif;
  min-height: 20vh;
  max-width: 900px;
  margin: 0 auto;
  font-size: 22px;
}

@media screen and (min-width: 1917px) {
    banner {
      background-size: cover;
      background-position: 0px -350px;

    }
}

